UserApiSql/bin/Debug/net5.0/appsettings.Development.json
UserApiSql/bin/Debug/net5.0/appsettings.json
UserApiSql/bin/Debug/net5.0/AutoMapper.dll
UserApiSql/bin/Debug/net5.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
UserApiSql/bin/Debug/net5.0/HelperCSharp.dll
UserApiSql/bin/Debug/net5.0/HelperCSharp.pdb
UserApiSql/bin/Debug/net5.0/Humanizer.dll
UserApiSql/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
UserApiSql/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
UserApiSql/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
UserApiSql/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
UserApiSql/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
UserApiSql/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
UserApiSql/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
UserApiSql/bin/Debug/net5.0/Microsoft.Identity.Client.dll
UserApiSql/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
UserApiSql/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
UserApiSql/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
UserApiSql/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
UserApiSql/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
UserApiSql/bin/Debug/net5.0/Microsoft.OpenApi.dll
UserApiSql/bin/Debug/net5.0/Newtonsoft.Json.dll
UserApiSql/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
UserApiSql/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
UserApiSql/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
UserApiSql/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
UserApiSql/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
UserApiSql/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
UserApiSql/bin/Debug/net5.0/System.Runtime.Caching.dll
UserApiSql/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
UserApiSql/bin/Debug/net5.0/UserApiSql.deps.json
UserApiSql/bin/Debug/net5.0/UserApiSql.dll
UserApiSql/bin/Debug/net5.0/UserApiSql.exe
UserApiSql/bin/Debug/net5.0/UserApiSql.pdb
UserApiSql/bin/Debug/net5.0/UserApiSql.runtimeconfig.dev.json
UserApiSql/bin/Debug/net5.0/UserApiSql.runtimeconfig.json
UserApiSql/bin/Debug/net5.0/ref/UserApiSql.dll
UserApiSql/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
UserApiSql/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
UserApiSql/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
UserApiSql/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
UserApiSql/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
UserApiSql/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
UserApiSql/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
UserApiSql/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
UserApiSql/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
UserApiSql/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
UserApiSql/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
UserApiSql/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
UserApiSql/obj/project.assets.json
UserApiSql/obj/project.nuget.cache
UserApiSql/obj/UserApiSql.csproj.nuget.dgspec.json
UserApiSql/obj/UserApiSql.csproj.nuget.g.props
UserApiSql/obj/UserApiSql.csproj.nuget.g.targets
UserApiSql/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
UserApiSql/obj/Debug/net5.0/apphost.exe
UserApiSql/obj/Debug/net5.0/project.razor.json
UserApiSql/obj/Debug/net5.0/UserApiSql.AssemblyInfo.cs
UserApiSql/obj/Debug/net5.0/UserApiSql.AssemblyInfoInputs.cache
UserApiSql/obj/Debug/net5.0/UserApiSql.assets.cache
UserApiSql/obj/Debug/net5.0/UserApiSql.csproj.AssemblyReference.cache
UserApiSql/obj/Debug/net5.0/UserApiSql.csproj.CopyComplete
UserApiSql/obj/Debug/net5.0/UserApiSql.csproj.CoreCompileInputs.cache
UserApiSql/obj/Debug/net5.0/UserApiSql.csproj.FileListAbsolute.txt
UserApiSql/obj/Debug/net5.0/UserApiSql.dll
UserApiSql/obj/Debug/net5.0/UserApiSql.GeneratedMSBuildEditorConfig.editorconfig
UserApiSql/obj/Debug/net5.0/UserApiSql.genruntimeconfig.cache
UserApiSql/obj/Debug/net5.0/UserApiSql.MvcApplicationPartsAssemblyInfo.cache
UserApiSql/obj/Debug/net5.0/UserApiSql.MvcApplicationPartsAssemblyInfo.cs
UserApiSql/obj/Debug/net5.0/UserApiSql.pdb
UserApiSql/obj/Debug/net5.0/UserApiSql.RazorTargetAssemblyInfo.cache
UserApiSql/obj/Debug/net5.0/ref/UserApiSql.dll
UserApiSql/obj/Debug/net5.0/staticwebassets/UserApiSql.StaticWebAssets.Manifest.cache
UserApiSql/obj/Debug/net5.0/staticwebassets/UserApiSql.StaticWebAssets.xml
UserApiSql/bin/Debug/net5.0/appsettings.Prodiction.json
UserApiSql/bin/Debug/net5.0/appsettings.Production.json
